body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

#app {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

#app{
  display: grid;
  grid-template-columns: 5fr 1fr 5fr;
}

#educationInput {
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 20px;
}

#experienceInput {
  grid-row-start: 3;
  grid-row-end: 4;
  margin: 20px;
}

.educationLinesLi{
  display: flex;
  border: 1px black solid;
  margin: 3px;
  justify-content: space-evenly;
}

.experienceLinesLi{
  display: flex;
  border: 1px black solid;
  margin: 3px;
  justify-content: space-evenly;
}

#displayContainer{
  grid-column-start: 3;
}

#personalDetailContainer{
  display: flex;
  justify-content: space-evenly;
}

h1{
  padding-top: 30px;
  margin-bottom: 10px;
}
i{
  margin: 5px;
}
#personalDetailsDisplay {
  margin: 20px;
  background-color: #0e374e;
  color: white;
}

#educationDisplay {

  margin: 20px;
}

#experienceDisplay {

  margin: 20px;
}

#experienceDisplayList, #educationDisplayList{
  list-style-type: none;
  padding: 0;
}







