body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

#app {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

#app{
  display: grid;
  grid-template-columns: 5fr 1fr 5fr;
  grid-template-rows: 1fr 1fr 1fr;
}

#educationInput {
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 20px;
}

.educationLinesLi{
  display: flex;
  border: 1px black solid;
  margin: 3px;
  justify-content: space-evenly;
}

#personalDetailsDisplay {
  grid-column-start: 3;
  grid-column-end: 4;
}

#educationDisplay {
  grid-column-start: 3;
  grid-column-end: 4;
  margin: 20px;
}









